// Custom styles.

.post-body a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.post-button {
  a {
    color: $grey-dim;
    background: none;
    border: 2px solid $grey-dim;

    &:hover {
      color: #ffffff;
      background: $black-deep;
      border: 2px solid $black-deep;
    }
  }
}
